[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-lsp-server = {extras = ["all"], version = "*"}
virtualenv = "*"

[requires]
python_version = "3.9"

[dev-packages]
black = "==21.12b0"
